* {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Verdana, Sans-serif;
}

body{
	background: url(asset-path('bg.png'));
    text-align: left;
}

.keeper{
	width: 920px;
	margin: 0 auto;
    overflow: hidden;
}

.inner{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 5px -1px #aaa;
	box-shadow: 0px 1px 5px -1px #aaa;
	-moz-box-shadow: 0px 1px 5px -1px #aaa;
	background: #fff;
	margin-top: 20px;
	padding: 12px 2em 13px;
}

footer{
	font-size: 12px;
	overflow: hidden;
}

footer > .keeper{
	margin-top: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}

.item-wrapper{
	border-top: 1px solid #e2e2e2;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	color: #4c4c4c;
}

.item-wrapper:hover{
	background: #c7d3da;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	cursor: pointer;
}

h3{
	font-weight: normal;
	font-size: 22px;
	margin-bottom: 15px;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 0.5em;
}

.list{
	font-size: 14px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.offset20{
  margin-left: 20px;
}

.offset50{
	margin-left: 50px;
}

.offset100{
  margin-left: 100px;
}

header > .keeper{
	overflow: hidden;
}

a.logo > img{
	height: 60px;
}

.menu{
	padding-top: 22px;
	font-size: 15px;
}

ul.main-menu {
	list-style: none;
}

ul.main-menu li {
	display: inline;
	margin-left: 10px;
}

a{
	color: #4c4c4c;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.content{
	color: #4c4c4c;
	font-size: 14px;
	margin-bottom: 15px;
}

form label{
	font-style: italic;
	padding-bottom: 8px;
	display: block;
}

form input[type='text']{
	border: 1px solid #e8e8e8;
	box-shadow: inset 1px 1px 0px rgba(0,0,0,0.3);
	line-height: 30px;
	height: 30px;
	text-indent: 5px;
	width: 350px;
	font-style: italic;
	color: #555e6c;
	font-size: 14px;
	margin-bottom: 8px;
	display: block;
}

form input[type='password'], input[type='number'], select{
  border: 1px solid #e8e8e8;
  box-shadow: inset 1px 1px 0px rgba(0,0,0,0.3);
  line-height: 30px;
  height: 30px;
  text-indent: 5px;
  width: 350px;
  font-style: italic;
  color: #555e6c;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

form input[type='submit']{
	border: 1px solid #e8e8e8;
	box-shadow: inset 1px 1px 0px rgba(0,0,0,0.3);
	line-height: 30px;
	height: 30px;
	width: 250px;
	font-style: italic;
	color: #555e6c;
	font-size: 14px;
	margin-bottom: 8px;
	display: block;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	background: #ED4035;
	border: none;
}



form textarea{
	border: 1px solid #e8e8e8;
	box-shadow: inset 1px 1px 0px rgba(0,0,0,0.3);
	height: 180px;
	text-indent: 5px;
	font-style: italic;
	color: #555e6c;
	font-size: 14px;
	width: 340px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 8px;
	display: block;
	padding: 5px;
}

.mini-button {
  width:  70px !important;
  line-height: 20px !important;
  height: 20px !important;
  font-size: 13px !important;
}

table.content-table{
  width: 100%;
}

table {
  border-collapse: collapse;
}
th, td {
  padding: 0;
}

ul.main-menu form{
  display: inline-block;
}

li.user{
  margin-left: 0px;
}

.main-menu-offset{
  margin-top: 10px;
}

.main-menu-offset .main-menu a{
  text-decoration: underline;
}

.main-menu-offset .main-menu a:hover{
  text-decoration: none;
}

#login-form{
  display: none;
}

#login-form input[type="submit"]{
  width: 100px;
  margin: 0 auto;
}