<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_position.name %>
</p>

<%= link_to 'Edit', edit_job_position_path(@job_position) %> |
<%= link_to 'Back', job_positions_path %>
