<footer>
  <div class="keeper">
    <div class="left">
      "Пенсионный фонд", &copy; 2013 - Кафедра ИСТ СГАУ
    </div>
    <div class="left offset100">
      Версии:
      <%= link_to t('menu.ru'), url_for(locale: 'ru') %>
      <%= link_to t('menu.en'), url_for(locale: 'en') %>
    </div>
    <div class="right">
      Дмитрий Ишков, Антон Шабанов, гр. 6502
    </div>
  </div>
</footer>